# Dependencies
node_modules

# Build outputs
target
dist

# IDE
.idea
.vscode
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

# Misc
cookies.txt
*.typ
title-2.pdf11111

docs/13-final-report/modern-g7-32
docs/13-final-report/images